body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: var(--body-font-size, 14px);
}

.clearfix::before {
  content: '';
  display: table;
}

.d-none {
  display: none;
}

.flex-auto {
  flex: auto !important;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.border-tb{
  border-top: 1px solid #30363d !important;
  border-bottom: 1px solid #30363d !important;
}

.Button {
  align-items: center;
  background-color: initial;
  border: max(1px, 0.0625rem) solid;
  border-color: #0000;
  border-radius: 0.375rem;
  color: #c9d1d9;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.25;
  height: auto;
  justify-content: space-between;
  min-width: max-content;
  padding: 0 0.75rem;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

.subnav-search {
  position: relative;
}

.subnav-search-icon {
  position: absolute;
  top: 14px;
  left: 70px;
  z-index: 2;
}

.form-control,
.form-select {
  padding: 5px 30px;
  font-size: 14px;
  line-height: 20px;
  color: #e6edf3;
  vertical-align: middle;
  background-color: #0d1117;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #30363d;
  border-radius: 6px;
  box-shadow: 0px 1px 0px 0px #0104093d;
}

.form-control:focus,
.form-select:focus {
  border-color: #1f6feb;
  outline: none;
  box-shadow: 0 0 0 1px #1f6feb;
}

.form-control::placeholder,
.form-select::placeholder {
  color: #8b949e;
}

.form-control,
.form-selec::se {
  color: #8b949e;
}

.input-contrast {
  background-color: #161b22;
}

.input-contrast:focus {
  background-color: #0d1117;
}


/* CREATE ISSUES */

.mt-2{
  margin-top: 8px;

}

.mt-4 {
  margin-top: 24px;
}

.pt-2{
  padding-top: 8px;
}

.container-xl {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.Layout {
  display: grid;
  grid-auto-flow: column;
}

.Layout-main {
  grid-column: 1;
  width: 936px;
  min-width: 0;
}

.Layout-side-bar {
  grid-column: 2 / span 2;
  width: 256px;

}


.Box {
  background-color: #0d1117;
  border: none!important;
}

.tab-container {
  border-bottom: 1px solid #30363d;
  display: block;
  overflow: auto;
}

.comment-box-header {
  display: flex;
  height: 38px;
  background-color: #161b22;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-color: #30363d;
  border-style: solid;
  border-width: max(1px, 0.0625rem);
  border-bottom: none;
}

.tablink {
  color: #e6edf3;
  border: 0;
  display: inline-block;
  flex-shrink: 0;
  line-height: 23px;
  width: 67px;
}

.issue_description {
  border: 1px solid #30363d;
  border-top: none;
  display: block;
  overflow: hidden;
  height: 250px;
  border-radius: 6px;
  background-color: #0d1117;
}

.sidebar-item{

}

.sidebar-item ul {
  inset: 0px auto auto 150px !important;
}

.dropdown-item::before {
  content: none;
  display: inline-block;
  width: 20px;
}

.dropdown-item i {
  width: 14px;
  /* Adjust this to the desired width */
  height: 16px;
  /* Adjust this to the desired height */
  display: inline-block;
}