:root {
  --fg-dark-light: #6c6c6c;
  --fg-dark-subtle: #2f3339;
  --fg-green-light: #00bb2c;
  --fg-red-light: #ff2f40;
  --fg-purple-light: #a57af0;
  --bg-dark: #010409;
  --bg-dark-subtle: #0d1117;
  --bg-dark-light: #161b22;
}

/* alert */
.alert {
  background-color: #2c0b0e !important;
  border-color: #842029 !important;
  color: #ff7984 !important;
}

/* link */
.nav-link.disabled,
.nav-link:disabled {
  color: var(--fg-dark-light) !important;
}
.nav-link.active {
  font-weight: bold;
}
.link-no-deco {
  text-decoration: none;
}
.link-deco-hover {
  text-decoration: none;
}
.link-deco-hover:hover {
  text-decoration: underline;
  color: #0d6eee;
}

/* foreground */
.fg-grey {
  color: #666;
}

/* text */
.navbar-brand {
  font-size: 1.5rem;
}

/* border */
.border-dark-subtle {
  border-color: var(--fg-dark-subtle) !important;
}
.border-dark-light {
  border-color: var(--fg-dark-light) !important;
}

/* button */
.btn {
  padding: 0.5rem 0.75rem !important;
}
.btn-dark {
  background-color: var(--bg-dark) !important;
}
.btn-success {
  background-color: #009422 !important;
}
.btn-success:hover {
  background-color: var(--fg-green-light) !important;
}
.home-button {
  position: sticky;
}

/* background */
.bg-dark {
  background-color: var(--bg-dark) !important;
}
.bg-dark-subtle {
  background-color: var(--bg-dark-subtle) !important;
}
.bg-dark-light {
  background-color: var(--bg-dark-light) !important;
}
.bg-image {
  opacity: 0.3;
}

/* form */
.form-label {
  color: white;
  font-size: small;
}
.auth-form {
  max-width: 400px;
  margin: 0 auto;
}
.form-input,
.form-input:focus,
.form-input:disabled {
  border-color: var(--fg-dark-subtle);
  background-color: var(--bg-dark);
  color: white;
}
.form-input::placeholder {
  color: var(--fg-dark-light);
}
.form-input:disabled {
  color: #808080;
}

/* svg */
.svg-white {
  fill: #fff;
  color: #fff;
}
.svg-dark-light {
  fill: var(--fg-dark-light);
  color: var(--fg-dark-light);
}
.svg-green {
  fill: var(--fg-green-light);
  color: var(--fg-green-light);
}
.svg-red {
  fill: var(--fg-red-light);
  color: var(--fg-red-light);
}
.svg-purple {
  fill: var(--fg-purple-light);
  color: var(--fg-purple-light);
}

/* margin */
.m-6 {
  margin: 6rem !important;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

